@{
    ViewData["Title"] = "4 a.m.";
}
<div class="text-center"><h1 class="display-4" style="font-weight: bold;">РАБОТИТЕ ПО ПРОЕКТ В 4 СУТРИНТА И ИСКАТЕ ПОЧИВКА?</h1></div>
<div class="text-center"><h1 class="display-4">Възползвайте се максимално от новата опция за отпуски!</h1></div>
