@page
@model AccessDeniedModel
@{ViewData["Title"] = "Отказан достъп";}
<header>
    <h3 class="text-danger">@ViewData["Title"]</h3><span class="text-danger">Отказан Ви е достъпът до тази страница!</span>
</header>
